.register_body {
  background: linear-gradient(180deg, rgb(186, 255, 249) 0%, rgb(146, 205, 216) 35%, rgb(61, 154, 197) 80%);
}
.registrarse {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.subtitle {
  text-align: center;
  color: #64748b;
  margin-top: -10px;
}

.loginRedirect {
  text-align: center;
  font-size: 14px;
  color: #64748b;
  cursor: pointer;

  transition: 0.3s ease;
}

.loginRedirect:hover {
  color: #0ca6c2;
}
